#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Cypht (Mail)
Exec=/home/bergerj/.local/bin/dotfiles-chrome --user-data-dir=/home/bergerj/.config/chrome-profiles/main --profile-directory=Default --app-id=cimiifkhcfbmjjijkgcgcdaokkgdlime
Icon=google-chrome
StartupWMClass=chrome-cimiifkhcfbmjjijkgcgcdaokkgdlime-Default
