[Desktop Entry]
Name=Chrome - Main
Exec=env LIBVA_DRIVER_NAME=nvidia google-chrome-stable --user-data-dir=/home/bergerj/.config/chrome-profiles/main --class="Chrome-main" --ozone-platform=x11 --enable-features=VaapiVideoDecoder,VaapiVideoEncoder --disable-features=UseChromeOSDirectVideoDecoder --disable-gpu-memory-buffer-video-frames
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
