[Desktop Entry]
Name=Chrome - ORST
Exec=/home/bergerj/.local/bin/dotfiles-chrome --user-data-dir=/home/bergerj/.config/chrome-profiles/orst --class=Chrome-orst
Icon=google-chrome
Type=Application
Categories=Network;WebBrowser;
