#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=YouTube Music
Exec=/home/bergerj/.local/bin/dotfiles-chrome --user-data-dir=/home/bergerj/.config/chrome-profiles/personal --profile-directory=Default --app-id=cinhimbnkkaeohfgghhklpknlkffjgod
Icon=chrome-cinhimbnkkaeohfgghhklpknlkffjgod-Default
StartupWMClass=crx_cinhimbnkkaeohfgghhklpknlkffjgod
